<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Adjust fighter</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>

<h1 class="col-md-12">Time for a shake up.</h1>

<div class="col-md-12">
	<form th:object= ${fight} th:action="@{/savefight}" action="#" method="post">
	<div class="form-group" style="width: 30%;">
		<label for="id">ID</label>
		<input type="text" class="form-control" id="id" fightid="fightid" th:field="*{fightid}" readonly="readonly" />
	</div>
	<div class="form-group" style="width: 30%;">
		<label for="name">Name</label>
		<input type="text" class="form-control" placeholder="Enter fight name" id="name" th:field="${fight.name}" />
	</div>
	<div class="form-group" style="width: 30%;">
		<label for="type">Type of fight</label>
		<input type="text" class="form-control" placeholder="Enter fight type" id="style"  th:field="${fight.type}" />
	</div>
	<div>					
		<label for="arenalist">Arena</label>
		<select id="arenalist" th:field="*{arena}" class="form-control" style="width: 30%;">
    	  	<option th:each="arena:${arenas}" th:value="${arena.arenaid}" th:text="${arena.name}"></option>
    	</select>
    </div>
		
		<div style="clear: both; display: block; height: 10px;"></div>
		<input type="submit" value="Submit" class="btn btn-success"/>
	</form>
</div>
	
</body>
</html>