<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>New fighter</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

<h1 class="col-md-12">A new challenger!</h1>

<div class="col-md-12">
	<form th:object= ${fighter} th:action="@{/savefighter}" action="#" method="post">
	<div class="form-group" style="width: 30%;">
		<label for="fightername">Name</label>
		<input type="text" class="form-control" placeholder="Enter fighter name" id="fightername" th:field="${fighter.name}" />
	</div>
	<div class="form-group" style="width: 30%;">
		<label for="style">Fighting style</label>
		<input type="text" class="form-control" placeholder="Enter fighting style" id="style"  th:field="${fighter.style}" /></p>
	</div>
	<div class="form-group" style="width: 30%;">
		<label for="height">Height</label>
		<input type="text" class="form-control" placeholder="Enter height in centimeters" id="height"  th:field="${fighter.height}" /></p>
	</div>
	<div class="form-group" style="width: 30%;">
		<label for="weight">Weight</label>
		<input type="text" class="form-control" placeholder="Enter weight in kilograms" id="weigth"  th:field="${fighter.weight}" /></p>
	</div>					
		<!--<label for="catlist">Category</label>
		<select id="catlist" th:field="*{category}" class="form-control">
    	  	<option th:each="category:${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    	</select>-->
		
		<div style="clear: both; display: block; height: 10px;"></div>
		<input type="submit" value="Submit" class="btn btn-primary"/> <input type="reset" value="Reset" class="btn btn-danger"/>
		
	</form>
</div>
	
</body>
</html>