<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Fighter List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="col-md-12">
		<h1 th:inline="text">Fighters of the XXVI Ironfist Tournament</h1>
	</div>
	
	<div class="col-md-12" sec:authorize="hasAuthority('ADMIN')">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	
	<div class="col-md-4" sec:authorize="hasAuthority('ADMIN')">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
		<a sec:authorize="!hasAuthority('ADMIN')" href="/login" class="btn btn-success">Login</a>
	</div>
	<br>
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Style</th>
			<th>Height</th>
			<th>Weight</th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
		</tr>

		<tr th:each="fighter : ${fighters}">
			<td th:text="${fighter.fighterid}">fighterid</td>
			<td th:text="${fighter.name}">name</td>
			<td th:text="${fighter.style}">style</td>
			<td th:text="${fighter.height} + ' cm'">height</td>
			<td th:text="${fighter.weight} + ' kg'">weight</td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletefighter/{fighterid}(fighterid=${fighter.fighterid})}" class="btn btn-danger">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editfighter/{fighterid}(fighterid=${fighter.fighterid})}"  class="btn btn-danger">Edit</a></td>
		</tr>
	</table>
		 	<!--  
			-->
	<a sec:authorize="hasAuthority('ADMIN')" href="/newfighter" style="margin-left: 1%;" class="btn btn-success">New Fighter</a>
	<a href="/arenalist" class="btn btn-success" style="float: right; margin-left: 2%; margin-right:1%">Arenas</a>
	<a href="/fightlist" class="btn btn-success" style="float: right;">Fights</a>

</body>
</html>